body{
    box-sizing: border-box;
    /* width: 80vw;
    height: 100vh; */
}
.app{
    display: flex;
    flex-direction: column;
    width: 99.2%;
    height: 100%;
}
.header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px 4px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.footer{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 30px 4px 22px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.SideMenuAndPageContent{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
}
.pageContent{
    padding-left: 12px;
}